API_ID="your-app-id"
API_HASH="your-api-hash"
BOT_TOKEN="your-bot-token"
SESSION_STRING="your-session-string"
CHAT="your-chat-id"
ADMINS="your-admins"
PGSSLMODE=require 
POSTGRES_SSL_ENABLED=true
POSTGRES_SSL_REJECT_UNAUTHORIZED=false
